* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header section*/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2%;
    background-color: black;
    color: white;
    font-family: sans-serif;
}

h1 {
    font-size: 250%;
    cursor: pointer;
}

span {
    color: red;
}

/* The navigation section of the page*/

nav ul {
    display: flex;
    justify-content: space-between;
 }

 nav ul li {
     list-style: none;
     font-size: 150%;
     padding: 10px 25px;  
 }

nav a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

nav a:hover {
    color: red;
}

/* The subtitle section of the page*/

.subtitle {
    background-image: url(./images/bongomin256.github.io_prework-about-me_.png);
    padding: 50px;
    color: white;
    font-style: italic;
    justify-content: flex-end;  
    display: flex;
    text-decoration: underline;
    font-size: 20px;
}

/* My Photo*/

.my-photo {
    height: 200px;
    width: 200px;
    border: 2px solid #030303;
    border-radius: 100%;
}

/* The section About me */
.about {
 
    display: flex;
    padding: 30px; 
    justify-content: space-between;  
 }

 .about-header {
    width: 25%;
    padding: 2%;
    text-align: right;

}
.about-header h2 {
    font-size: 35px;
  
}

#verticle-line {
    width: 6px;
    height:auto;
    background-color: black;
}

.main-p {
    display: flex;
    padding: 20px;  
    width: 75%;
    
}

.main-p p {
   letter-spacing: 1px;
   line-height: 28px;
   font-size: 17px;
   margin-bottom: 25px;
   margin-left: 20px;
   margin-right: 20px;
}

/* The section about My Work  */
.my-work {
    display: flex;
    justify-content: flex-start;
    padding: 30px;
    
}

.mywork-header {
    width: 25%;
}

.mywork-header h2 {
    font-size: 35px;
    text-align: end;
    padding-right: 15px;
}

.show {
    width: 75%;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
   
}

.container {
    margin: 2%;
    flex: 0 1 46%;
    border: 3px solid #7de4c1;
    position: relative;
    cursor: pointer;
}

.container img {
    width: 100%;
}


.homework1 {
    flex: 1 0 96%;
}

.show-text {
    padding: 1%;
    position: absolute;
    bottom: 8%;
    color: black;
    background-color: #7de4c1;
}

.show-text h5{
    font-size: 20px;
}

.container:hover {
    box-shadow: 0 6px 12px grey;
}

.show img:hover {
    border-color: #b30d0d;
}

/* The section about to Contact Me */
.contact-me {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    background-color: #030303;
    color: white;
}

#verticle-line-2 {
    width: 6px;
    height:auto;
    background-color: white;
}
.contact-header {
    width: 25%;
}

.contact-header h2 {
    font-size: 35px;
    text-align: end;
    padding-right: 15px; 
}

.contact-detail {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 75%;
}

.contact-detail p {
    font-size: 25px;
    text-decoration: underline;
    text-underline-offset: 20%;
}

.contact-detail a {
    text-decoration: none;
    color: white;
}

/* Setting the width to let it be responsive in larger smart phone*/
@media screen and (max-width: 768px) {
    header,
    nav ul,
    .subtitle,
    .about,
    .my-work,
    .contact-me,
    .contact-header,
    .contact-detail,
    .show, 
    .main-p {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .contact-detail p {
        margin-bottom: 20px;
    }
.contact-detail {
    margin-top: 20px;
}

.about-text {
    margin-top: 20px;
}

.my-work {
   padding-top: 0px;
}
}

/* Setting the Max-width to let it be responsive in smaller smart phone*/
@media screen and (max-width: 480px) {
    header,
    nav ul,
    .subtitle,
    .about,
    .my-work,
    .contact-me,
    .contact-header,
    .contact-detail,
    .show, 
    .main-p {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .contact-detail p {
        margin-bottom: 20px;
    }
.contact-detail {
    margin-top: 20px;
}

.about-text {
    margin-top: 20px;
}

.my-work {
   padding-top: 0px;
}
}







